<table>
  <tr>
    <td colspan="2">
      Имя
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <select class="form-control">
        <option>Гавриил</option>
        <option>Келен</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>
      Видимость
    </td>
    <td>
      Перемещение
    </td>
  </tr>
  <tr>
    <td>
      <select class="form-control">
        <option>-- Без изменении --</option>
        <option>Виден</option>
        <option>Не виден</option>
      </select>
    </td>
    <td>
      <select class="form-control">
        <option>-- Без изменении --</option>
        <option>Таверна</option>
        <option>Погреб (таверны)</option>
      </select>
    </td>
  </tr>

  <tr>
    <td>
      Расположение
    </td>
    <td>
      Изменить приветственный текст
    </td>
  </tr>
  <tr>
    <td>
      <input type="number" min="-100" max="100" class="form-control">
    </td>
    <td>
      <textarea class="form-control"></textarea>
    </td>
  </tr>
</table>