<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--    <link rel="stylesheet"-->
    <!--          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">-->
    <style>
        .display-none {
            display: none;
        }

        body {
            background: #f1f0f0;
        }

        label {
            font-weight: bold;
        }

        .action {
            padding-left: 20px;
        }

        .btn, .form-control {
            border-radius: 0;
        }

        select {
            overflow: hidden;
            border: 1px solid lightgrey !important;
        }

        table {
            width: 100%;
        }
    </style>
</head>
<body>
<h1>Создание/Редактирование диалога</h1>
<hr/>
<div class="container">
    <div style="padding: 10px;">
        <table>
            <tr>
                <td>
                    <div id="event-container" style="width: 700px;">
                        <div>
                            <h4>ID события</h4>
                            <input id="event-id" class="form-control" th:value="${model.id}" readonly>
                            <br/>
                            <!-- Публикация -->
                            <h4>Публикация</h4>
                            <hr>
                            <div>
                                <input type="checkbox" id="publication"
                                       th:checked="${model.publication}">
                                <span>(Если отметить то, опубликовано)</span>
                            </div>
                            <!-- Многоразовая/Одноразовая -->
                            <h4>Многоразовая/Одноразовая карточка</h4>
                            <hr>
                            <div>
                                <input type="checkbox" id="use-once-cart"
                                       th:checked="${model.useOnce}">
                                <span>(Если отметить то, одноразовая карточка)</span>
                            </div>
                            <br/>
                            <!-- Категория карточки -->
                            <hr/>
                            <div>
                                <!-- Кнопки поиска/сброса категории -->
                                <div style="text-align: right">
                                    <label style="float: left; margin-top: 5px ">Категория карточки</label>
                                    <button onclick="showModal(this)" type="button" class="btn btn-primary">
                                        Поиск категории
                                    </button>
                                    <button onclick="cleanModal(this)" type="button" class="btn btn-warning">
                                        Сбросить
                                    </button>
                                </div>
                                <!-- Select отображения дефолтных/текущих/найденных категории -->
                                <select id="category" class="form-control"
                                        url="/finer/category"
                                        th:default-size="${model.category == null} ? 4 : 5"
                                        th:size="${model.category == null} ? 4 : 5">
                                    <optgroup
                                            label="Дефолт">
                                        <option value="0" th:selected="${model.category == null}">
                                            0. Общая категория
                                        </option>
                                    </optgroup>
                                    <optgroup id="current-container"
                                              label="Текущая категория">
                                        <option th:if="${model.category != null}" th:value="${model.category.id}"
                                                th:text="|${model.category.id}. ${model.category.title} ${model.publication ? '(Опубликовано)' : '(Не Опубликовано)'}|"
                                                th:title="${model.category.description}" selected></option>
                                    </optgroup>
                                    <optgroup id="checked-container"
                                              label="Выбранная категория">
                                    </optgroup>
                                </select>
                            </div>
                            <br/>
                            <!-- Событие карточки -->
                            <h4>Событие карточки</h4>
                            <hr/>
                            <div>
                                <textarea id="event-text" th:text="${model.eventText}" class="form-control"
                                          placeholder="Описать происходящее событие"></textarea>
                            </div>
                            <br/>
                            <!-- Варианты ответов -->
                            <h4>Варианты ответов</h4>
                            <hr/>
                            <th:block th:each="answer, iStat: ${model.answers}">
                                <div class="action" id="action">
                                    <h1 id="number">Ответ 1</h1>
                                    <label>ID действия</label>
                                    <input id="action-id" th:value="${answer.id}" class="form-control" readonly>
                                    <!-- Многоразовый/Одноразовый ответ -->
                                    <label>Многоразовый/Одноразовый ответ</label><br/>
                                    <div>
                                        <input id="use-once-answer" th:checked="${answer.useOnce}"
                                               type="checkbox">
                                        <span>(Если отметить то, одноразовый ответ)</span>
                                    </div>
                                    <label>Описание ответа</label>
                                    <div>
                                    <textarea id="answer-text" th:text="${answer.answerText}" class="form-control"
                                              placeholder="Описать ответ и(или) действие"></textarea>
                                    </div>
                                    <!-- Игровые параметры определяющие конец игры -->
                                    <label style="border-bottom: 1px solid lightgrey">Игровые параметры определяющие
                                        конец игры (от -100 до +100)</label>
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>Золото</label>
                                                    <input id="answer-gold" th:value="${answer.gold}" type="number"
                                                           min="-100" max="100"
                                                           class="form-control"
                                                           placeholder="Золото">
                                                </td>
                                                <td>
                                                    <label>Репутация</label>
                                                    <input id="answer-reputation" th:value="${answer.reputation}"
                                                           type="number" min="-100" max="100"
                                                           class="form-control"
                                                           placeholder="Репутация">
                                                </td>
                                                <td>
                                                    <label>Влияние</label>
                                                    <input id="answer-influence" th:value="${answer.influence}"
                                                           type="number" min="-100" max="100"
                                                           class="form-control"
                                                           placeholder="Влияние">
                                                </td>
                                                <td>
                                                    <label>Скрытность</label>
                                                    <input id="answer-shadow" th:value="${answer.shadow}" type="number"
                                                           min="-100" max="100"
                                                           class="form-control"
                                                           placeholder="Скрытность">
                                                </td>
                                                <td>
                                                    <label>Удача</label>
                                                    <input id="answer-luck" th:value="${answer.luck}" type="number"
                                                           min="-100" max="100"
                                                           class="form-control"
                                                           placeholder="Удача">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- Доступно только если есть предметы  -->
                                    <div>
                                        <!-- Кнопки поиска/сброса предметы -->
                                        <div style="text-align: right">
                                            <label style="float: left; margin-top: 5px ">Ответ виден, но доступен только
                                                если есть </label>
                                            <button onclick="showModal(this)" type="button" class="btn btn-primary">
                                                Поиск предметов
                                            </button>
                                            <button onclick="cleanModal(this)" type="button" class="btn btn-warning">
                                                Сбросить
                                            </button>
                                        </div>
                                        <!-- Select отображения дефолтных/текущих/найденных предметов -->
                                        <select id="if-things" class="form-control" multiple
                                                url="/finer/thing"
                                                th:default-size="${answer.ifThings != null ? answer.ifThings.size()+2 : 2}"
                                                th:size="${answer.ifThings != null ? answer.ifThings.size()+2 : 2}">

                                            <optgroup id="current-container"
                                                      label="Текущие предметы">
                                                <option th:each="i : ${answer.ifThings}"
                                                        th:value="${i.id}"
                                                        th:text="|${i.id}. ${i.title}  ${i.publication ? '(Опубликовано)' : '(Не Опубликовано)'}|"
                                                        th:title="${i.description}"
                                                        th:selected="true"></option>
                                            </optgroup>
                                            <optgroup id="checked-container"
                                                      label="Выбранные предметы">
                                            </optgroup>
                                        </select>
                                    </div>
                                    <!-- Дать предметы  -->
                                    <div>
                                        <!-- Кнопки поиска/сброса предметы -->
                                        <div style="text-align: right">
                                            <label style="float: left; margin-top: 5px ">Дать предметы</label>
                                            <button onclick="showModal(this)" type="button" class="btn btn-primary">
                                                Поиск предметов
                                            </button>
                                            <button onclick="cleanModal(this)" type="button" class="btn btn-warning">
                                                Сбросить
                                            </button>
                                        </div>
                                        <!-- Select отображения дефолтных/текущих/найденных предметов -->
                                        <select id="give-things" class="form-control" multiple
                                                url="/finer/thing"
                                                th:default-size="${answer.giveThings != null ? answer.giveThings.size()+2 : 2}"
                                                th:size="${answer.giveThings != null ? answer.giveThings.size()+2 : 2}">

                                            <optgroup id="current-container"
                                                      label="Текущие предметы">
                                                <option th:each="i : ${answer.giveThings}"
                                                        th:value="${i.id}"
                                                        th:text="|${i.id}. ${i.title}  ${i.publication ? '(Опубликовано)' : '(Не Опубликовано)'}|"
                                                        th:title="${i.description}"
                                                        th:selected="true"></option>
                                            </optgroup>
                                            <optgroup id="checked-container"
                                                      label="Выбранные предметы">
                                            </optgroup>
                                        </select>
                                    </div>
                                    <!-- Привязка карточки -->
                                    <label>Привязка карточки</label><br/>
                                    <div>
                                        <input id="link-cart" type="hidden" value="0">
                                        <button class="btn btn-warning">
                                            Привязать к ответу новую карточку
                                        </button>
                                    </div>
                                    <!-- Открыть категорию карточек -->
                                    <div>
                                        <!-- Кнопки поиска/сброса категории -->
                                        <div style="text-align: right">
                                            <label style="float: left; margin-top: 5px ">Открыть категорию
                                                карточек</label>
                                            <button onclick="showModal(this)" type="button" class="btn btn-primary">
                                                Поиск категории
                                            </button>
                                            <button onclick="cleanModal(this)" type="button" class="btn btn-warning">
                                                Сбросить
                                            </button>
                                        </div>
                                        <!-- Select отображения дефолтных/текущих/найденных категории -->
                                        <select id="open-categories" class="form-control" multiple
                                                exclude-options="#close-categories"
                                                url="/finer/category"
                                                th:default-size="${answer.openCategories != null ? answer.openCategories.size()+2 : 2}"
                                                th:size="${answer.openCategories != null ? answer.openCategories.size()+2 : 2}">

                                            <optgroup id="current-container"
                                                      label="Текущие категории">
                                                <option th:each="i : ${answer.openCategories}"
                                                        th:value="${i.id}"
                                                        th:text="|${i.id}. ${i.title}  ${i.publication ? '(Опубликовано)' : '(Не Опубликовано)'}|"
                                                        th:title="${i.description}"
                                                        th:selected="true"></option>
                                            </optgroup>
                                            <optgroup id="checked-container"
                                                      label="Выбранные категории">
                                            </optgroup>
                                        </select>
                                    </div>
                                    <!-- Закрыть категорию карточек -->
                                    <div>
                                        <!-- Кнопки поиска/сброса категории -->
                                        <div style="text-align: right">
                                            <label style="float: left; margin-top: 5px ">Закрыть категорию
                                                карточек</label>
                                            <button onclick="showModal(this)" type="button" class="btn btn-primary">
                                                Поиск категории
                                            </button>
                                            <button onclick="cleanModal(this)" type="button" class="btn btn-warning">
                                                Сбросить
                                            </button>
                                        </div>
                                        <!-- Select отображения дефолтных/текущих/найденных категории -->
                                        <select id="close-categories" class="form-control" multiple
                                                exclude-options="#open-categories"
                                                url="/finer/category"
                                                th:default-size="${answer.closeCategories != null ? answer.closeCategories.size()+2 : 2}"
                                                th:size="${answer.closeCategories != null ? answer.closeCategories.size()+2 : 2}">

                                            <optgroup id="current-container"
                                                      label="Текущие категории">
                                                <option th:each="i : ${answer.closeCategories}"
                                                        th:value="${i.id}"
                                                        th:text="|${i.id}. ${i.title}  ${i.publication ? '(Опубликовано)' : '(Не Опубликовано)'}|"
                                                        th:title="${i.description}"
                                                        th:selected="true"></option>
                                            </optgroup>
                                            <optgroup id="checked-container"
                                                      label="Выбранные категории">
                                            </optgroup>
                                        </select>
                                    </div>
                                    <button th:if="${iStat.index > 0 }" class='btn btn-danger' style='float: right'
                                            onclick='$(this).parent().remove()'>Удалить ответ
                                    </button>
                                    <hr style="background: 1px lightgrey"/>
                                </div>
                            </th:block>
                            <button id="action-add-button" onclick="add()" class="btn btn-primary">Добавить ответ
                            </button>
                            <br/>
                            <br/>
                            <button id="save-and-edit-button" onclick="save()" class="btn btn-success">Сохранить и
                                редактировать
                            </button>
                        </div>
                    </div>
                </td>
                <td style="vertical-align: text-top; padding-left: 50px;">
                    <div id="events">

                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<br/><br/><br/><br/><br/>
<!-- Модальное окно категории -->
<div class="modal fade" id="categoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Под грузка необходимых данных</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <select class="form-control" size="8" multiple>
                <!-- Контейнер текущих категории -->
                <optgroup id="current-container" label="Текущие">
                </optgroup>
                <!-- Контейнер для отмеченных категории -->
                <optgroup id="checked-container" label="Отмеченные">
                </optgroup>
            </select>
            <div class="modal-body">
                <!-- Поисковое поле, через которое производится поиск и подгрузка категории из бд -->
                <input id="finder-category" class="form-control"
                       placeholder="Введите название категории или ее часть">
                <!-- Контейнер для подгружаемых категории  -->
                <table id="load-category-container" class="table"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отменить</button>
                <button type="button" class="btn btn-primary" onclick="saveSelectedInEvent(this)">Принять</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-ru_RU.min.js"></script>-->

<script>
    let TRIGGER_MODAL_BUTTON;

    // Сохранения выбранных пунктов в модальном окне на карту события
    function saveSelectedInEvent(obj) {
        // Получаем контейнер текущих категории карты события
        let checkedContainer = TRIGGER_MODAL_BUTTON.siblings('select').children('optgroup#checked-container');
        checkedContainer.empty();
        // Отменяем выбор всех элементов категории на карте события
        TRIGGER_MODAL_BUTTON.siblings('select').find('option').prop('selected', false);
        // Перебираем контейнер выбранных элементов модального окна и клонируем их в
        // контейнер выбранных элементов карты события
        let defaultSize = parseInt(TRIGGER_MODAL_BUTTON.siblings('select').attr('default-size'));
        let count = 0;
        $(obj).closest('.modal-content').find('select optgroup[id=checked-container] option').each(function (e, i) {
            // клонируем
            let option = $(i).clone();
            // Добавляемые элементы отмечаем как selected
            option.prop('selected', true);
            // Добавляем элементы в контейнер выбранных элементов карты события
            checkedContainer.append(option);
            count++;
        })
        TRIGGER_MODAL_BUTTON.siblings('select').attr('size', count + defaultSize);
        // Закрываем модальное окно
        $('#categoryModal').modal('hide');
    }

    function cleanModal(button) {
        let size = parseInt($(button).parent().siblings('select').attr('size'));
        $(button).parent().siblings('select').children('optgroup#checked-container').find('option').each(function () {
            size--;
        });
        $(button).parent().siblings('select').children('optgroup#checked-container').empty();
        $(button).parent().siblings('select').attr('size', size);
    }

    // Открывает модальное окно и выполняет все сопутствующие события
    function showModal(button) {
        // Получаем триггер родитель кнопки (простой div, почему простой div?
        // Потому что он на одном уровне с select'ом и другими основными элементами)
        TRIGGER_MODAL_BUTTON = $(button).parent();
        $('#categoryModal').find('input#finder-category').val('');
        $('#categoryModal').find('input#finder-category').keyup();
        // Получаем контейнер текущих элементов модального окна
        let modalСurrent = $('#categoryModal').find('select').children('optgroup#current-container');
        let modalChecked = $('#categoryModal').find('select').children('optgroup#checked-container');

        $('#categoryModal').find('select optgroup').empty();
        // Перебираем текущие элементы карты события и клонируем их
        // в контейнер текущих элементов модального окна

        TRIGGER_MODAL_BUTTON.siblings('select').children('optgroup#current-container').children('option').each(function (e, i) {
            modalСurrent.append($(i).clone());
        });
        TRIGGER_MODAL_BUTTON.siblings('select').children('optgroup#checked-container').children('option').each(function (e, i) {
            modalChecked.append($(i).clone());
        });
        // Открываем модальное окно
        $('#categoryModal').modal('show');
    }

    $(function () {
        $('#finder-category').on('keyup', async function () {
            // название категории или ее часть (для поиска)
            let search = $(this).val();
            // Контейнер в модальном окне куда загружаются по поиску категории с сервера
            let loadContainer = $(this).siblings('table#load-category-container');
            // Контейнер текущих категории карты события
            let triggerCurrentContainer = TRIGGER_MODAL_BUTTON.siblings('select').children('optgroup#current-container');
            // id select чьи options мы будем исключать
            let excludeOptions = TRIGGER_MODAL_BUTTON.siblings('select').attr('exclude-options');
            // Проверка select на атрибут multiple, от этого зависит сколько option можно добавить
            // (если true то сколько угодно, если false то только 1)
            let isMultiply = TRIGGER_MODAL_BUTTON.siblings('select').attr('multiple') !== undefined;
            let url = TRIGGER_MODAL_BUTTON.siblings('select').attr('url') !== undefined ? TRIGGER_MODAL_BUTTON.siblings('select').attr('url') : undefined;
            if (url === undefined) return;
            // Массив исключающих категории, который сразу заполняется исключением элементов другого select,
            // Т.е., исключаем пункты другого select, если такой select указан в атрибутах exclude-options
            let excludes =
                excludeOptions !== undefined
                    ? TRIGGER_MODAL_BUTTON.closest('.action').find(excludeOptions).find('option').map((key, elm) => elm.value).toArray()
                    : [];
            // Добавляем массив исключений формируется из select текущих категории (options)
            // Чтобы не отображать текущие категории
            excludes = excludes.concat(triggerCurrentContainer.find('option').map((key, elm) => elm.value).toArray());
            // Очищаем контейнер загрузки для новых результатов
            loadContainer.empty();
            // Пропускает поиск только если 0 (10-20 последних результатов) или больше 2 символов
            if (search.length == 0 || search.length > 1) {
                // Формируем отправляемые данные
                // Поисковая строка и массив исключении
                let send = {
                    search: search,
                    excludes: excludes
                }
                // Отправка данных
                let data = await fetch(url, {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(send)
                });
                // Получаем результат массив категории
                let jsonFastFiners = await data.json();
                console.log(jsonFastFiners);
                // Перебираем массив категории и вствляем их в loadContainer
                $.each(jsonFastFiners, function (num, fastFiner) {
                    let tr = $("<tr/>");
                    $("<td/>", {text: fastFiner.id}).appendTo(tr);
                    $("<td/>").append(
                        $("<a/>", {
                            href: "#",
                            text: fastFiner.title,
                            // Добавление удаление категории в select'ах
                            click: function () {
                                checkCategory(this, fastFiner, isMultiply);
                                return false;
                            }
                        })).appendTo(tr)
                    $("<td/>", {text: fastFiner.description}).appendTo(tr);
                    $("<td/>", {text: isPublicationString(fastFiner.publication)}).appendTo(tr);
                    loadContainer.append(tr);
                });
            }
        })
    })

    function isPublicationString(publication) {
        return publication ? "(Опубликовано)" : "(Не опубликовано)";
    }

    // Метод выбора из коллекции подгружаемых элементов
    function checkCategory(obj, fastFiner, isMultiply) {
        // Получаем контейнер выбранных элементов модального окна
        let checkedContainer = $(obj).closest('div.modal-content').find('optgroup#checked-container');
        let options = [];
        // let size = 2;
        $(obj).closest('div.modal-content').each(function () {
            //size++;
        })
        // Заполняем массив option элементами
        checkedContainer.find('option').each(function (e, i) {
            options.push($(i));
            // size++;
        });
        // Проверяем является ли текущий select multiple или нет
        if (isMultiply) {
            // Если текущий select является multiple, то выбор у него многообразный с возможностью удалять/добавлять
            if (options.find(e => e.val() == fastFiner.id)) {
                checkedContainer.children('option[value=' + fastFiner.id + ']').remove();
                // size-=2;
            } else {
                checkedContainer.append('<option value="' + fastFiner.id + '" title="' + fastFiner.description + '">' + fastFiner.id + '. ' + fastFiner.title + " " + isPublicationString(fastFiner.publication) + '</option>');
            }
        } else {
            // Если текущий select не является multiple, то выбор только один
            checkedContainer.html('<option value="' + fastFiner.id + '" title="' + fastFiner.description + '">' + fastFiner.id + '. ' + fastFiner.title + " " + isPublicationString(fastFiner.publication) + '</option>');
        }
        //  $(obj).closest('div.modal-content').find('select').attr('size', size);
    }

    async function save() {
        let event = {
            id: $('#event-id').val(),
            publication: $('#publication').is(":checked"),
            useOnce: $('#use-once-cart').is(":checked"),
            category: {
                id: $('#category').val()
            },
            eventText: $('#event-text').val(),
            answers: []
        }
        $.each($('.action'), function (actionNum, action) {
            let openCategories = $(action).find('#open-categories').val().map(id => ({
                id: id
            }));
            let closeCategories = $(action).find('#close-categories').val().map(id => ({
                id: id
            }));
            let giveThings = $(action).find('#give-things').val().map(id => ({
                id: id
            }));
            let ifThings = $(action).find('#if-things').val().map(id => ({
                id: id
            }));

            // $.each($(action).find('#close-categories').val(), function (closeCategoryNum, closeCategoryId) {
            //     closeCategories.push({
            //         id: closeCategoryId
            //     })
            // })
            event.answers.push({
                id: $(action).find('#action-id').val(),
                useOnce: $(action).find('#use-once-answer').is(":checked"),
                answerText: $(action).find('#answer-text').val(),
                gold: $(action).find('#answer-gold').val(),
                reputation: $(action).find('#answer-reputation').val(),
                influence: $(action).find('#answer-influence').val(),
                shadow: $(action).find('#answer-shadow').val(),
                luck: $(action).find('#answer-luck').val(),
                giveThings: giveThings,
                ifThings: ifThings,
                link: $(action).find('#link-cart').val(),
                openCategories: openCategories,
                closeCategories: closeCategories
            })
        })
        console.log(event);

        let data = await fetch('/communication/event', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(event)
        })
        if (data.status == 200) {
            let eventId = await data.json();
            location.href = '/communication/event?id=' + eventId;
        }
    }

    function add() {
        let eventContainer = $('#event-container');
        let action = eventContainer.find('#action').clone();
        action.find('input, textarea').val('');
        action.find('select option').remove();
        action.find('input#action-id').val('0')
        action.find("hr").before("<button class='btn btn-danger' style='float: right' onclick='remove(this)'>Удалить ответ</button><hr/>");
        eventContainer.find('#action-add-button').before(action);
        $('.action').each(function (key, elm) {
            $(elm).find('h1#number').text("Ответ " + (key + 1));
        })
    }

    function remove(obj) {
        if (confirm("Удалить?")) {
            $(obj).closest('.action').remove();
            $('.action').each(function (key, elm) {
                $(elm).find('h1#number').text("Ответ " + (key + 1));
            })
        }
    }
</script>


<div class="container">
    <h3>Многоразовая/Одноразовая карточка</h3>
    <p>Карточки делятся на:</p>
    <ul>
        <li>Многоразовые</li>
        <li>Одноразовые</li>
    </ul>
    <p>
        Многоразовые - это карточки массовки, которые создают основной контент, они повторяются бесконечное количество
        раз <br>
        Одноразовые - это генераторы какого-то события, они выполняются один раз, после чего игрок их больше не встретят
        никогда
    </p>
    <p>
        Например: карточка, которая добавляет категорию карточек. Или карточка, которая стартует цепочку сценария,
        предназначенного на один раз
    </p>

    <h3>Принадлежность карточки</h3>
    <p>
        Карточки принадлежат к какой-то категории. Корневая категория в которой происходит вся массовка "Общая
        колода".<br>
        Можно создавать новые категории и добавлять карточки туда, эти карточки не будут видны сразу их следует открыть,<br>
        а значит в "общую колоду" надо добавить одноразовую карточку которая будет при выполнении открывать все карточки<br>
        указанной категории.
    </p>

    <h3>Событие карточки</h3>
    <p>
        Событие карточки это просто текст описывающий то, что происходит в этой карточке
    </p>

    <h3>Варианты ответов</h3>
    <p>
        Перечень, доступных действии, который игрок в праве выбирать в качестве реакции на описанное событие карточки
    </p>

    <h3>Многоразовый/Одноразовый ответ</h3>
    <p>
        Ответ как и сама карточка так же может быть многоразовым и одноразовым, после чего,<br>
        его в этой карточке (если она повторяющиеся) более видно не будет
    </p>

    <h3>Описание ответа</h3>
    <p>
        Текст действия которые игрок выбрал в качестве ответа на событие карточки
    </p>

    <h3>Игровые параметры определяющие конец игры</h3>
    <p>
        Игровые параметры которые игроку следует поддерживать в течении всей игры дабы не проиграть.<br>
        При достижении 0 или 100 любого из параметра с вероятностью 50%, наступит конец игры.<br>
        Т.е. пока значение не будет изменено на иное число каждый следующий шаг возможен как последний
    </p>
</div>


