<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--    <link rel="stylesheet"-->
    <!--          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">-->
    <style>
        .display-none {
            display: none;
        }

        label {
            font-weight: bold;
        }

        .action {
            padding-left: 10px;
        }

        .btn, .form-control {
            border-radius: 0;
        }

        table {
            width: 100%;
        }
    </style>
</head>
<body>
<h1>Создание/Редактирование диалога</h1>
<hr/>
<div class="container">
    <div style="padding: 10px;">
        <table>
            <tr>
                <td>
                    <div id="event-container" style="width: 600px;">
                        <div>
                            <h4>ID события</h4>
                            <hr>
                            <input id="event-id" class="form-control" th:value="${model.id}" readonly>
                            <br/>
                            <br/>
                            <!-- Многоразовая/Одноразовая -->
                            <h4>Многоразовая/Одноразовая карточка</h4>
                            <hr>
                            <div>
                                <input type="checkbox" id="use-once-cart"
                                       th:checked="${model.useOnce}">
                                <span>(Если отметить то, одноразовая карточка)</span>
                            </div>
                            <br/>
                            <br/>
                            <!-- Категория карточки -->
                            <h4>Категория карточки</h4>
                            <hr/>
                            <div>
                                <div>
                                    <!-- Input ввода поиска категории -->
                                    <label>Поиск категории</label>
                                    <button type="button" onclick="modalCategory(this)" class="btn btn-primary" >
                                        Запустить модальное окно со статическим фоном
                                    </button>
                                    <input class="finder-category form-control"
                                           placeholder="Введите название категории или ее часть">
                                    <!-- Select отображения найденных категории -->
                                    <select id="category" class="form-control" size="4">
                                        <option value="0" th:selected="${category == null}">-- Общая колода --</option>
                                        <optgroup id="selected-container" th:if="${category != null}" label="Текущая категория">
                                            <option th:value="${category.id}"
                                                    th:text="${category.title}"
                                                    th:selected="true"></option>
                                        </optgroup>
                                        <!-- Optgroup контейнер для подгружаемых категории -->
                                        <optgroup id="load-container" label="Результаты поиска">

                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <br/>
                            <!-- Событие карточки -->
                            <h4>Событие карточки</h4>
                            <hr/>
                            <div>
                                <textarea id="event-text" th:text="${model.eventText}" class="form-control"
                                          placeholder="Описать происходящее событие"></textarea>
                            </div>
                            <br/>
                            <br/>
                            <!-- Варианты ответов -->
                            <h4>Варианты ответов</h4>
                            <hr/>
                            <th:block th:each="answer, iStat: ${model.answers}">
                                <div class="action" id="action">
                                    <label>ID действия</label>
                                    <input id="action-id" th:value="${answer.id}" class="form-control" readonly>
                                    <br/>
                                    <br/>
                                    <!-- Многоразовый/Одноразовый ответ -->
                                    <label>Многоразовый/Одноразовый ответ</label><br/>
                                    <div>
                                        <input id="use-once-answer" th:checked="${answer.useOnce}"
                                               type="checkbox">
                                        <span>(Если отметить то, одноразовый ответ)</span>
                                    </div>
                                    <br/>
                                    <label>Описание ответа</label>
                                    <div>
                                    <textarea id="answer-text" th:text="${answer.answerText}" class="form-control"
                                              placeholder="Описать ответ и(или) действие"></textarea>
                                    </div>
                                    <!-- Игровые параметры определяющие конец игры -->

                                    <label style="border-bottom: 1px solid lightgrey">Игровые параметры определяющие
                                        конец игры (от -100 до +100)</label>
                                    <div>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>Золото</label>
                                                    <input id="answer-gold" th:value="${answer.gold}" type="number"
                                                           min="-100" max="100"
                                                           class="form-control"
                                                           placeholder="Золото">
                                                </td>
                                                <td>
                                                    <label>Репутация</label>
                                                    <input id="answer-reputation" th:value="${answer.reputation}"
                                                           type="number" min="-100" max="100"
                                                           class="form-control"
                                                           placeholder="Репутация">
                                                </td>
                                                <td>
                                                    <label>Влияние</label>
                                                    <input id="answer-influence" th:value="${answer.influence}"
                                                           type="number" min="-100" max="100"
                                                           class="form-control"
                                                           placeholder="Влияние">
                                                </td>
                                                <td>
                                                    <label>Скрытность</label>
                                                    <input id="answer-shadow" th:value="${answer.shadow}" type="number"
                                                           min="-100" max="100"
                                                           class="form-control"
                                                           placeholder="Скрытность">
                                                </td>
                                                <td>
                                                    <label>Удача</label>
                                                    <input id="answer-luck" th:value="${answer.luck}" type="number"
                                                           min="-100" max="100"
                                                           class="form-control"
                                                           placeholder="Удача">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- Спец игровые предметы -->
                                    <label>Спец игровые предметы</label>
                                    <div>
                                        <select id="special-things" class="form-control" multiple
                                                data-max-options="2">
                                            <option th:each="i : ${specials}" th:value="${i.getKey()}"
                                                    th:text="${i.getValue()}"
                                                    th:selected="${answer.specials != null ? answer.specials.contains(i.getKey()) : false}"></option>

                                        </select>
                                    </div>
                                    <!-- Привязка карточки -->
                                    <label>Привязка карточки</label><br/>
                                    <div>
                                        <input id="link-cart" type="hidden" value="0">
                                        <button class="btn btn-warning">
                                            Привязать к ответу новую карточку
                                        </button>
                                    </div>
                                    <!-- Открыть категорию карточек -->
                                    <label>Открыть категорию карточек</label>
                                    <div>
                                        <!-- Input ввода поиска категории -->
                                        <label>Поиск категории</label>
                                        <input class="finder-category form-control"
                                               placeholder="Введите название категории или ее часть">
                                        <!-- Select отображения найденных категории -->
                                        <select id="open-categories" class="form-control" size="4" multiple>
                                            <optgroup id="selected-container" label="Текущии категории">
                                                <option th:each="i : ${answer.openCategories}" th:value="${i.id}"
                                                        th:text="${i.title}"
                                                        th:title="${i.description}"
                                                        th:selected="true"></option>
                                            </optgroup>
                                            <!-- Optgroup контейнер для подгружаемых категории -->
                                            <optgroup id="load-container"
                                                      label="Результаты поиска">

                                            </optgroup>
                                        </select>
                                    </div>
<!--                                    <div>-->
<!--                                        <select id="open-categories" class="form-control" multiple size="3">-->


<!--                                            <option th:each="i : ${answer.openCategories}" th:value="${i.id}"-->
<!--                                                    th:text="${i.title}"-->
<!--                                                    th:title="${i.description}"-->
<!--                                                    th:selected="true"></option>-->

<!--                                        </select>-->
<!--                                    </div>-->
                                    <!-- Закрыть категорию карточек -->
                                    <label>Закрыть категорию карточек</label>
                                    <div>
                                        <select id="close-categories" class="form-control" multiple size="3">
                                            <option th:each="i : ${closeCategories}" th:value="${i.getKey()}"
                                                    th:text="${i.getValue()}"
                                                    th:selected="${answer.closeCategories != null ? answer.closeCategories.contains(i.getKey()) : false}"></option>

                                        </select>
                                    </div>
                                    <button th:if="${iStat.index > 0 }" class='btn btn-danger' style='float: right'
                                            onclick='$(this).parent().remove()'>Удалить ответ
                                    </button>
                                    <hr style="background: 1px lightgrey"/>
                                </div>
                            </th:block>
                            <button id="action-add-button" onclick="add()" class="btn btn-primary">Добавить ответ
                            </button>
                            <br/>
                            <br/>
                            <button id="save-and-edit-button" onclick="save()" class="btn btn-success">Сохранить и
                                редактировать
                            </button>
                            <!--                            |-->
                            <!--                            <button id="save-and-new-button" onclick="save()" class="btn btn-success">Сохранить и-->
                            <!--                                создать новое событие-->
                            <!--                            </button>-->
                        </div>
                    </div>
                </td>
                <td style="vertical-align: text-top; padding-left: 50px;">
                    <div id="events">

                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<br/><br/><br/><br/><br/>
<!-- Модальное окно -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Заголовок модального окна</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <input class="finder-category form-control"
                       placeholder="Введите название категории или ее часть">
                <!-- Select отображения найденных категории -->
                <select id="category" class="form-control" size="4">
                    <option value="0" th:selected="${category == null}">-- Общая колода --</option>
                    <optgroup id="selected-container" th:if="${category != null}" label="Текущая категория">
                        <option th:value="${category.id}"
                                th:text="${category.title}"
                                th:selected="true"></option>
                    </optgroup>
                    <!-- Optgroup контейнер для подгружаемых категории -->
                    <optgroup id="load-container" label="Результаты поиска">

                    </optgroup>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Понял</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"-->
<!--        crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-ru_RU.min.js"></script>-->

<script>
    function modalCategory(obj){

        $("#staticBackdrop").modal('show');
    }
    $(function () {

        $('.finder-category').on('keyup', async function () {
            let search = $(this).val();
            let finder = $(this);
            let select = finder.siblings('select');
            // Получаем контейнер optgroup куда и вставляется options
            let loadContainer = finder.siblings('select').children('optgroup#load-container');
            let excludesId = [];
            finder.siblings('select').children('#selected-container').find('option').each(function (e, i){
                console.log(e,i);
                excludesId.push($(i).val());
            });
            console.log(excludesId);
            // Пропускает поиск только если больше 2 символов
            if (search.length < 2) return;
            // Отправка поисковой строки (частичный поиск)
            let send = {
                search: search,
                excludes: excludesId
            }
            let data = await fetch('/communication/category', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(send)
            });
            let jsonCategories = await data.json();
            loadContainer.empty();
            let size = 4;
            $.each(jsonCategories, function (num, category) {
                loadContainer.append('<option value="' + category.id + '" title="'+category.description+'">' + category.title + '</option>');
                size++;
            });
            select.attr('size', size);
        })
    })

    async function save() {
        let event = {
            id: $('#event-id').val(),
            useOnce: $('#use-once-cart').is(":checked"),
            category: $('#category').val(),
            eventText: $('#event-text').val(),
            answers: []
        }
        $.each($('.action'), function (actionNum, action) {
            let openCategories = [];
            console.log($(action).find('#open-categories').val());
            $.each($(action).find('#open-categories').val(), function (openCategoryNum, openCategoryId) {
                console.log(111 , openCategoryId);
                openCategories.push({
                    id: openCategoryId
                })
            })
            event.answers.push({
                id: $(action).find('#action-id').val(),
                useOnce: $(action).find('#use-once-answer').is(":checked"),
                answerText: $(action).find('#answer-text').val(),
                gold: $(action).find('#answer-gold').val(),
                reputation: $(action).find('#answer-reputation').val(),
                influence: $(action).find('#answer-influence').val(),
                shadow: $(action).find('#answer-shadow').val(),
                luck: $(action).find('#answer-luck').val(),
                specials: $(action).find('#special-things').val(),
                link: $(action).find('#link-cart').val(),
                openCategories: openCategories,
                closeCategories: $(action).find('#close-categories').val()
            })
        })
        // console.log(event);

        let data = await fetch('/communication/event', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(event)
        })
        if (data.status == 200) {
            let eventId = await data.json();
            location.href = '/communication/event?id=' + eventId;
        }
    }

    function add() {
        let eventContainer = $('#event-container');
        let action = eventContainer.find('#action').clone();
        action.find('input, textarea').val('');
        action.find("hr").before("<button class='btn btn-danger' style='float: right' onclick='$(this).parent().remove()'>Удалить ответ</button><br/>");
        eventContainer.find('#save-and-edit-button').before(action);
    }
</script>
























<div class="container">
    <h3>Многоразовая/Одноразовая карточка</h3>
    <p>Карточки делятся на:</p>
    <ul>
        <li>Многоразовые</li>
        <li>Одноразовые</li>
    </ul>
    <p>
        Многоразовые - это карточки массовки, которые создают основной контент, они повторяются бесконечное количество
        раз <br>
        Одноразовые - это генераторы какого-то события, они выполняются один раз, после чего игрок их больше не встретят
        никогда
    </p>
    <p>
        Например: карточка, которая добавляет категорию карточек. Или карточка, которая стартует цепочку сценария,
        предназначенного на один раз
    </p>

    <h3>Принадлежность карточки</h3>
    <p>
        Карточки принадлежат к какой-то категории. Корневая категория в которой происходит вся массовка "Общая
        колода".<br>
        Можно создавать новые категории и добавлять карточки туда, эти карточки не будут видны сразу их следует открыть,<br>
        а значит в "общую колоду" надо добавить одноразовую карточку которая будет при выполнении открывать все карточки<br>
        указанной категории.
    </p>

    <h3>Событие карточки</h3>
    <p>
        Событие карточки это просто текст описывающий то, что происходит в этой карточке
    </p>

    <h3>Варианты ответов</h3>
    <p>
        Перечень, доступных действии, который игрок в праве выбирать в качестве реакции на описанное событие карточки
    </p>

    <h3>Многоразовый/Одноразовый ответ</h3>
    <p>
        Ответ как и сама карточка так же может быть многоразовым и одноразовым, после чего,<br>
        его в этой карточке (если она повторяющиеся) более видно не будет
    </p>

    <h3>Описание ответа</h3>
    <p>
        Текст действия которые игрок выбрал в качестве ответа на событие карточки
    </p>

    <h3>Игровые параметры определяющие конец игры</h3>
    <p>
        Игровые параметры которые игроку следует поддерживать в течении всей игры дабы не проиграть.<br>
        При достижении 0 или 100 любого из параметра с вероятностью 50%, наступит конец игры.<br>
        Т.е. пока значение не будет изменено на иное число каждый следующий шаг возможен как последний
    </p>
</div>